[Unit]
Description=Web based graphical interface for rsnapshot
After=network.target

[Service]
WorkingDirectory=/opt/webrsnapshot
Type=simple
ExecStart=hypnotoad /opt/webrsnapshot/script/webrsnapshot
ExecStop=hypnotoad -s /opt/webrsnapshot/script/webrsnapshot
ExecReload=/usr/bin/kill -USR2 $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
