[Unit]
Description=Web based graphical interface for rsnapshot
After=network.target

[Service]
Type=simple
ExecStart=/opt/webrsnapshot/submodules/mojo/script/hypnotoad /opt/webrsnapshot/script/webrsnapshot
ExecStop=/opt/webrsnapshot/submodules/mojo/script/hypnotoad -s /opt/webrsnapshot/script/webrsnapshot
Restart=on-abort

[Install]
WantedBy=multi-user.target
