.nav-tabs-responsive .nav-item a.prev .text,
.nav-tabs-responsive .nav-item a.next .text {
    display: none !important;
}
.nav-tabs-responsive .nav-item .prev:after {
    content: "\276E";
}
.next:after {
    content: "\276F";
}


.tooltip-inner {
    min-width: initial;
max-width: 320px;
}

.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    margin: 8px 0px;
}
.hr-sect:before,
.hr-sect:after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
}

#rs_filename.wrong-input,
.wrong-input {
    color: red !important;
}