/* Head Positivioning */
#headcontainer      { border:0px solid black; height:100px;}
#logocontainer      { border:0px solid black; height:100%; min-width:250px; float:left;}
#logorightcontainer { border:0px solid black; height:100%; float:left;}

/* Content Positivioning */
#bodycontainer      { border:0px solid black; }
#menucontainer      { border:0px solid black; min-width:15%; float:left; }
#menu               { min-height:500px; }
#content            { border:0px solid black; width:85%; float:left; }
#tabs               { min-height:498px; }
.infoicon           { width:25px; float:left; }
.configlabel        { width:170px; float:left; }
.tooltip            { max-width:500px; }
.center             { margin-left:auto; margin-right:auto;}
#loginform          { width:30%; }
#logout             { float:right; }

.hidden             { display:none; }
#logtextarea        { width: 99.5%; height: 29em;}

input[type="text"]  { width:300px; }
#accordion h3 input[type="button"] { float:right; }
.submit_btn         { float:right; margin-right:10px; margin-top:-34px; }

/* Footer Positivioning */
#footer             { float:left; margin-top:10px; width:100%;}
